<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gaia.vortex.android.library"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15" />

    <application>
        <!-- The activity tag here is currently not used. The main project 
             must currently redefine the activities to be used from the libraries.
             However later the tools will pick up the activities from here and merge them
             automatically, so it's best to define your activities here like for any
             regular Android project.
        -->
    </application>

</manifest>
