<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gaia.vortex.example.light"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Ejemplo Luz"
        android:theme="@style/AppTheme"
        android:name=".Aplicacion" 
        >
        
        <activity
            android:name="net.gaia.vortex.example.light.ShowLuzActivity"
            android:label="@string/show_luz" 
            android:launchMode="singleTask"
            android:taskAffinity="net.gaia.vortex.example.light.luz"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name="net.gaia.vortex.example.light.ControlOnOffActivity"
            android:label="@string/control_oonoff"
            android:launchMode="singleTask" 
            android:taskAffinity="net.gaia.vortex.example.light.onoff"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="net.gaia.vortex.example.light.ControlLinealActivity"
            android:label="@string/control_lineal" 
            android:launchMode="singleTask"
            android:taskAffinity="net.gaia.vortex.example.light.lineal"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        
    </application>

</manifest>