<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gaia.vortex.comm"
    android:versionCode="4"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15" />

    <!-- Permiso para acceder a vortex -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:name=".app.VortexCommApplication"
        android:icon="@drawable/ic_launcher"
        android:label="VortexComm" >
        
        <activity
            android:name=".ConfigurationActivity"
            android:label="Configuracion" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    	<activity
            android:name=".CanalesActivity"
            android:label="Canales" >
        </activity>
        
    	<activity
            android:name=".CanalActivity"
            android:label="Canal" >
        </activity>
        
    	<!-- El servicio que permite la conectividad con Vortex -->
    	<service android:name="net.gaia.vortex.android.service.VortexProviderService" android:exported="false" />
        
    </application>

</manifest>