<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false"> 

	<!--
		Este archivo define la configuración del logueo de la aplicación y es interpretado por logback,
		que recibe las llamadas de logueo del resto de las apis (log4j, commons-logging, etc) a través
		de slf4j que hace de wrapper del resto.
		La sintaxis para los appenders que se pueden agregar está en: http://logback.qos.ch/manual/appenders.html
		y la sintaxis para los patrones de formateo en: http://logback.qos.ch/manual/layouts.html#conversionWord 
	 -->

	<!-- Output normal por consola -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		  <pattern>\(%12r\) [%-20t] %-5p %-120m  | at %C\(%F:%L\) [%-23d{ISO8601}]%n</pattern>
		</encoder>
	</appender>
  
	  	<!-- Archivo para las decisiones de ruteo -->
	<appender name="RUTEO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>logs/ruteo.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
	      <fileNamePattern>logs/previous/ruteo.%i.log</fileNamePattern>
	      <minIndex>1</minIndex>
	      <maxIndex>10</maxIndex>
	    </rollingPolicy>
		
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
	     		<maxFileSize>10MB</maxFileSize>
	   	</triggeringPolicy>
	    <encoder>
	      <pattern>[%-23d{ISO8601}] %-5p %-120m  | %-40c | [%t] at %C\(%F:%L\) Running:\(%12r\)%n</pattern>
	    </encoder>
	</appender>
  
  
  	<!-- Output a archivo de logueo limitado a 1Mb -->
	<appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>logs/vortex-server.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
	      <fileNamePattern>logs/previous/vortex-server.%i.log</fileNamePattern>
	      <minIndex>1</minIndex>
	      <maxIndex>10</maxIndex>
	    </rollingPolicy>
		
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
	     		<maxFileSize>1MB</maxFileSize>
	   	</triggeringPolicy>
	    <encoder>
	      <pattern>[%-23d{ISO8601}] %-5p %-120m  | %-40c | [%t] at %C\(%F:%L\) Running:\(%12r\)%n</pattern>
	    </encoder>
	</appender>
	
	<logger name="net.gaia.vortex.server.mosquito" level="DEBUG" />
	
	<!-- Queremos el detalle del manejo de sockets -->
	<logger name="ar.dgarcia.objectsockets.external.mina.ObjectSocketIoHandler" level="DEBUG" />
	<!-- Queremos el detalle de creación de nexos -->
	<logger name="net.gaia.vortex.sockets.impl.sockets.VortexSocketEventHandler" level="DEBUG" />
	<!-- Queremos ver el detalle de los strings que llegan -->
	<logger name="ar.dgarcia.objectsockets.external.mina.filters.String2ObjectCodecFilter" level="DEBUG" />
	
	
  
   	<logger name="net.gaia.vortex.meta.Loggers.RUTEO" level="INFO">
		<appender-ref ref="RUTEO_FILE" />
	</logger>
  
	<root level="info">
	  	<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING_FILE" />
	</root>
  
</configuration>