<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	    id="VortexID" 
	    version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	    >
    
	<display-name>vortex-light</display-name>


	<welcome-file-list>
	 	<!-- 
	 		Por especificación es obligatorio declarar un file, pero en realidad no existe.
	 		Es interceptado el request por acegi y luego pro Spring MVC 
	 	-->
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	
</web-app>