<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
	   	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   	xmlns:p="http://www.springframework.org/schema/p"
	   	xmlns:context="http://www.springframework.org/schema/context" 
	   	xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<!--
		Este archivo define los beans adicionales necesarios por el Dispatcher de spring.
		Los beans definidos acá sobreescriben las definiciones globales.
		Están declarados implícitamente DefaultAnnotationHandlerMapping y AnnotationMethodHandlerAdapter
		necesarios para derivar los requests a las clases anotadas (por utilizar el DispatcherServlet)
	 -->
	
	<!-- Declara los beans para SpringMVC de este contexto (namespace) -->
	<context:component-scan base-package="net.gaia.vortex.web"/>
	 
	
	<!-- Indica cómo obtener los JSPs de las vistas usadas en los controllers --> 
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsps/" />
		<property name="suffix" value=".jsp" />
	</bean>	
	
</beans>